<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5 offset4" style="border: 1px solid #fff;  padding 20px; background-color: #FFFFFF">
          <div style ="padding-left: 20%">
            <h2><%= "admin"%></h2>
            <p>
              <strong>
                <%= link_to 'node', nodes_path%>
              </strong>
            </p>
            <p>
              <strong>
                <%= link_to 'posts', posts_path%>
              </strong>
            </p>
            </div>
        </div>
    </div>
</div>
